<!-- Footer -->
<footer class="footer mt-5">
  <div class="container-fluid text-center">
    <span class="text-light">
      Developped par;
      by <a href="https://github.com/davidBentoPereira" target="_blank">Andy</a> &#9996;&#65039;
      & <a href="https://github.com/EmilieDufau" target="_blank">Emilie</a> &#9996;&#65039;
      for <a href="//www.thehackingproject.org/fr" target="_blank">THP</a>
    </span>
  </div>
</footer>